.body{    /*Ici j'appel le fond du site en soit : un dégradé*/
  background: linear-gradient(45deg, #d5a452 60%, #deac4a);
}

.Btn_retour {        /*Image pour décorer le site*/
  position: absolute;
  top: 2%;
  left: 90%;
}

.Image_Agri {        /*Image pour décorer le site*/
  border-top-left-radius:85px;    /*Arrondie ên haut a gauche*/
  border-top-right-radius:85px;   /*Arrondie en haut a droite*/
  border-bottom-left-radius:85px;   /*Arrondie en bas a gauche*/
  border-bottom-right-radius:85px;  /*Arrondie en bas a droite*/
}

.Présentation_AG {    /*Zone de texte parti 2*/
  color:rgba(0, 0, 0, 1); /*On applique une couleur spécifique au texte*/
  width:600px;      /*longueur de la zone du texte*/
  height:600px;     /*Largeur de la zone du texte*/
  position:absolute;    /*Méthode de positionnement de la zone de texte*/
  left:400px;       /*Position sur la largeur du site de l'image par rapport au coin gauche du site grâce a la position absolute*/
  top:15%;       /*Position de l'hauteur l'image par rapport au coin gauche du site grâce a la position absolute*/
  font-family:Roboto;   /*Police utiliser */
  font-size:24px;     /*Taille de la police utilisé*/ 
  text-align:left;    /*Le texte est a droite dans la zone de texte*/
}